<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                    <%= new Date().getFullYear() ; %> - <%= new Date().getFullYear()+1; %> © Clean IoT <span class="text-muted d-none d-sm-inline-block float-right"> with <i class="mdi mdi-heart text-danger"></i>인제대학교</span>
            </div>
        </div>
    </div>
</footer>